################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/*/obj
*/*/bin
/src/.vs
/src/SIS.DB/Import Schema Logs
/src/SIS.DB/Import Script Logs
